# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: 

Email: 

Name: 

Email:

Write your table definitions here. **Format your definitions so they are readable.**

## Set Up the Database Connection

In [24]:
import sqlite3
import dbAPI6
import json
import importlib
importlib.reload(dbAPI6)
# con = sqlite3.connect("test_db")
# cur = con.cursor()
def delete_tables(db_filename):
    conn = sqlite3.connect(db_filename) 
    with sqlite3.connect(db_filename) as conn:
        c = conn.cursor() 
        #Create User_Account Table
        c.execute("DROP TABLE IF EXISTS User_Account;")
        c.execute("DROP TABLE IF EXISTS User_Achievements;")
        c.execute("DROP TABLE IF EXISTS Achievement_Stats;")
        c.execute("DROP TABLE IF EXISTS Games_In_Progress;")
        c.execute("DROP TABLE IF EXISTS Game_Settings;")
        conn.commit()
    conn.close()

In [25]:
help(dbAPI6)

Help on module dbAPI6:

NAME
    dbAPI6

DESCRIPTION
    #Authors: Paul Schneider TEST
    #Date: April 2023
    #Purpose: Create a database for the website

FUNCTIONS
    create(db_filename)

    create_trigger(db_name)

    delete_tables(db_filename)

    print_tables(db_filename)

    test_func2()

FILE
    /home/jovyan/Group1_Project/page_templates/SQL/dbAPI6.py

In [26]:
db_name = "settings_test_db"
dbAPI6.delete_tables(db_name)
dbAPI6.create(db_name)

## Create the User_Account Table

In [27]:
#dbAPI6.delete_tables(db_name)
dbAPI6.print_tables(db_name)

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[User_Achievements]
	Columns of User_Achievements
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Inquisitor', 'BOOLEAN', 0, None, 0)
		 (2, 'LoneWolf', 'BOOLEAN', 0, None, 0)
		 (3, 'PuzzleMaster', 'BOOLEAN', 0, None, 0)
		 (4, 'RiskTaker', 'BOOLEAN', 0, None, 0)
		 (5, 'SpeedRunner', 'BOOLEAN', 0, None, 0)
		 (6, 'Conqueror', 'BOOLEAN', 0, None, 0)
	[Puzzle_Master]
	Columns of Puzzle_Master
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game1_Easy', 'BOOLEAN', 0, None, 0)
		 (2, 'Game2_Easy', 'BOOLEAN', 0, None, 0)
		 (3, 'Game3_Easy', 'BOOLEAN', 0, None, 0)
		 (4, 'Game4_Easy', 'BOOLEAN', 0, None, 0)
		 (5, 'Game1_Med', 'BOOLEAN', 0, None, 0)
		 (6, 'Game2_Med', 'BOOLEAN', 0, None, 0)
		 (7, 'Game3_Med', 'BOOLEAN', 0, None, 0)
		 (8, 'Game4_Med', 'BOOLEAN', 0, None, 0)
		 (9, 'Game1_Hard', 'BOOLEAN', 0, None, 0)
		 (10, 'Game2_Hard', 'BOOLEAN', 0, None, 0)
		 (11, 'Game3_Hard', 'BOOLEAN', 0, None, 0)
		 (12, 'Game4_Hard', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'INT', 0, None, 0)
		 (5, 'Best_Time_Med', 'INT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'INT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game_ID', 'INT', 0, None, 0)
		 (2, 'Current_Time', 'INT', 0, None, 0)
		 (3, 'Game', 'VARCHAR(100)', 0, None, 0)
		 (4, 'Original_Game', 'VARCHAR(100)', 0, None, 0)
		 (5, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
		 (6, 'Mistakes_Checked', 'INT', 0, None, 0)
		 (7, 'Notes_Checked', 'INT', 0, None, 0)
		 (8, 'Mistakes_Count', 'INT', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [5]:
#dbAPI2.delete_tables("settings_test_db")
dbAPI6.print_tables("settings_test_db")

Tables:
	[User_Account]
	Columns of User_Account
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Password', 'VARCHAR(16)', 0, None, 0)
		 (2, 'First_Name', 'VARCHAR(50)', 0, None, 0)
		 (3, 'Last_Name', 'VARCHAR(50)', 0, None, 0)
		 (4, 'Email', 'VARCHAR(320)', 0, None, 0)
	[User_Achievements]
	Columns of User_Achievements
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Inquisitor', 'BOOLEAN', 0, None, 0)
		 (2, 'LoneWolf', 'BOOLEAN', 0, None, 0)
		 (3, 'PuzzleMaster', 'BOOLEAN', 0, None, 0)
		 (4, 'RiskTaker', 'BOOLEAN', 0, None, 0)
		 (5, 'SpeedRunner', 'BOOLEAN', 0, None, 0)
		 (6, 'Conqueror', 'BOOLEAN', 0, None, 0)
	[Puzzle_Master]
	Columns of Puzzle_Master
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game1_Easy', 'BOOLEAN', 0, None, 0)
		 (2, 'Game2_Easy', 'BOOLEAN', 0, None, 0)
		 (3, 'Game3_Easy', 'BOOLEAN', 0, None, 0)
		 (4, 'Game4_Easy', 'BOOLEAN', 0, None, 0)
		 (5, 'Game1_Med', 'BOOLEAN', 0, None, 0)
		 (6, 'Game2_Med', 'BOOLEAN', 0, None, 0)
		 (7, 'Game3_Med', 'BOOLEAN', 0, None, 0)
		 (8, 'Game4_Med', 'BOOLEAN', 0, None, 0)
		 (9, 'Game1_Hard', 'BOOLEAN', 0, None, 0)
		 (10, 'Game2_Hard', 'BOOLEAN', 0, None, 0)
		 (11, 'Game3_Hard', 'BOOLEAN', 0, None, 0)
		 (12, 'Game4_Hard', 'BOOLEAN', 0, None, 0)
	[Achievement_Stats]
	Columns of Achievement_Stats
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'EasyGamesCompleted', 'INT', 0, None, 0)
		 (2, 'MedGamesCompleted', 'INT', 0, None, 0)
		 (3, 'HardGamesCompleted', 'INT', 0, None, 0)
		 (4, 'Best_Time_Easy', 'INT', 0, None, 0)
		 (5, 'Best_Time_Med', 'INT', 0, None, 0)
		 (6, 'Best_Time_Hard', 'INT', 0, None, 0)
	[Games_In_Progress]
	Columns of Games_In_Progress
		 (0, 'Username', 'VARCHAR(32)', 0, None, 1)
		 (1, 'Game_ID', 'INT', 0, None, 0)
		 (2, 'Current_Time', 'INT', 0, None, 0)
		 (3, 'Game', 'VARCHAR(100)', 0, None, 0)
		 (4, 'Original_Game', 'VARCHAR(100)', 0, None, 0)
		 (5, 'Difficulty', 'VARCHAR(6)', 0, None, 0)
		 (6, 'Mistakes_Checked', 'INT', 0, None, 0)
		 (7, 'Notes_Checked', 'INT', 0, None, 0)
		 (8, 'Mistakes_Count', 'INT', 0, None, 0)
	[Game_Settings]
	Columns of Game_Settings
		 (0, 'Username', 'INT', 0, None, 1)
		 (1, 'Show_Clock', 'BOOLEAN', 0, None, 0)
		 (2, 'Show_Mistakes_Counter', 'BOOLEAN', 0, None, 0)

In [29]:
con = sqlite3.connect(db_name)
with con:
        print('User_Account')
        for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
        print('User_Achievements')
        for result in con.execute("SELECT * FROM User_Achievements;"):
            print(result)            
        print('Achievement_Stats')
        for result in con.execute("SELECT * FROM Achievement_Stats;"):
            print(result)        
        print('Games_In_Progress')
        for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
        print('Game_Settings')
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result)
con.close()

User_Account
('DogLuver-71', 'PAUL', 'Paul', 'Schneider', 'pasc9915@colorado.edu')
User_Achievements
('DogLuver-71', 0, 0, 0, 0, 0, 0)
Achievement_Stats
('DogLuver-71', 0, 0, 0, None, None, None)
Games_In_Progress
('DogLuver-71', 1, 0, '', '', '0', 0, 0, 0)
Game_Settings
('DogLuver-71', 1, 0)

In [22]:
con = sqlite3.connect(db_name)
with con:
        #con.execute("INSERT INTO User_Account VALUES ('TEST_ACCOUNT','password','user','name','email@email.com');")
        #con.execute("INSERT INTO Game_Settings VALUES ('TEST_ACCOUNT',0,1);")
        
        for result in con.execute('''SELECT json_group_array( json_object(
                                                    'Username', Username,
                                                    'Password', Password,
                                                    'First_Name', First_Name,
                                                    'Last_Name', Last_Name,
                                                    'Email', Email))
                                      FROM User_Account
                                      '''):
            print(result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print(result[1],result[2])
con.close()

('[]',)

In [10]:
con = sqlite3.connect(db_name)
with con:
    con.execute("PRAGMA foreign_keys = ON;")
    for user in [{'Username':'USER1', 'Email':'USER1@email.com'},{'Username':'USER2', 'Email':'USER2@email.com'},{'Username':'USER3', 'Email':'USER3@email.com'},{'Username':'USER4', 'Email':'USER4@email.com'}]:
                con.execute("INSERT INTO User_Account VALUES (:Username, 'password','first','last',:Email);",user)
    for result in con.execute("SELECT * FROM User_Account;"):
            print(result)
con.close()

('USER1', 'password', 'first', 'last', 'USER1@email.com')
('USER2', 'password', 'first', 'last', 'USER2@email.com')
('USER3', 'password', 'first', 'last', 'USER3@email.com')
('USER4', 'password', 'first', 'last', 'USER4@email.com')

In [36]:
con = sqlite3.connect(db_name)
with con:
    # for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert', 'Mistakes_Checked': '0', 'Notes_Checked': '0'}]:
    #     con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty, :Mistakes_Checked, :Notes_Checked);",user)   
    for user in [{'Username':'USER2','Game_ID':'1235','Current_Time':'1234','Game':"000704005020010070000080002090006250600070008053200010400090000030060090200407000",'Difficulty':'Expert'}]:
                con.execute("INSERT INTO Games_In_Progress VALUES (:Username, :Game_ID, :Current_Time, :Game, :Difficulty);",user)
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

OperationalError: table Games_In_Progress has 7 columns but 5 values were supplied

In [37]:
con = sqlite3.connect(db_name)
with con:
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()

In [38]:
con = sqlite3.connect(db_name)
with con:
    con.execute('''UPDATE Games_In_Progress SET "Current_Time" = 111, "Game" = "111704005020010070000080002090006250600070008053200010400090000030060090200407111"  WHERE "Game_ID" = "1235"''')
    for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print(result)
con.close()