# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: ```Micah Simmerman```

Email:   ```jasi9001@colorado.edu```

Name: ```Paul Schneider```

Email:   ```Paul.Schneider-1@colorado.edu```

Write your table definitions here. **Format your definitions so they are readable.**

### Establish the Database Connection

In [1]:
import sqlite3
con = sqlite3.connect("controller_db")
cur = con.cursor()

# = = = = = = = = Start Destructive Queries = = = = = = = = =

### Drop The User_Account Table

In [18]:
DROP_User_Account = """DROP TABLE IF EXISTS User_Account"""

try:
    res = cur.execute(DROP_User_Account)
    res.fetchone()
    print("User_Account Table Dropped")
except:
    print("Not working")

# SAVE FOR TROUBLE SHOOTING
# res = cur.execute(DROP_User_Account)
# res.fetchone()
# con.close()

User_Account Table Dropped

## Truncate User_Account Table

In [19]:
try:
    cur = con.cursor()
    res = cur.execute("DELETE FROM User_Account")
    res.fetchone()
    con.commit()
    print("Truncated User_Account table.")
except:
    print("Unable to delete from User_Account table. Check database configuration and try again.")

Unable to delete from User_Account table. Check database configuration and try again.

# = = = = = = = = End Destructive Queries = = = = = = = = =

### Create User_Account Table

In [20]:
CREATE_UserAccount = """
                     CREATE TABLE IF NOT EXISTS User_Account(
                         Username VARCHAR(32),
                         Password VARCHAR(16),
                         First_Name VARCHAR(50),
                         Last_Name VARCHAR(50),
                         Email VARCHAR(320) UNIQUE, 
                         PRIMARY KEY(Username))
                     """
try:
    cur = con.cursor()
    res = cur.execute(CREATE_UserAccount)
    res.fetchone()
    con.commit()
    print("User_Account table was successfully created.")
except:
    print("Unable to create UserAccount table")

User_Account table was successfully created.

### Select All From User_Account

In [2]:
cur = con.cursor()
res = cur.execute("SELECT * FROM User_Account")
print(res.fetchall())
con.commit()
print(res)

[('username1', 'abc123', 'Mike', 'Roberts', 'email@email.com'), ('username2', 'ghi789', 'Luke', 'Vivelle', 'i_heart_sudoku659@email.com'), ('username3', 'jkl012', 'Joe', 'Henderson', 'jimmycrackKORN@email.com'), ('Jasi9001', 'password', 'Micah', 'Simmerman', 'jasi9001@colorado.edu')]
<sqlite3.Cursor object at 0x7f9d981ff4c0>

In [26]:
# = = = = = = = BEGIN SQL QUERY BUILD AND TESTING = = = = = = = = = = = 
this = cur.execute("""
SELECT COUNT(*)
FROM User_Account
WHERE Username = ? AND Password = ?
""", ('Jasi9001', 'password'))
that = this.fetchone()[0]
print(that)
print(type(that))
# Response will be 1 (user exists in the system) or 0 (user does not exist in the system).

1
<class 'int'>

## Insert test data into User_Account
The test in the cell below verifies that the User_Account table does not accept a duplicate usernames or email addresses.

In [34]:
# CREATE_UserAccount is an sql string formatted to allow substitution. Note the '?'s in the string below.
INSERT_UserAccount = """
                     INSERT INTO User_Account (Username,Password,First_Name,Last_Name,Email) 
                     VALUES (?,?,?,?,?);
                     """
data = [("username1","abc123","Mike","Roberts","email@email.com"),
        ("username2","ghi789","Luke","Vivelle","i_heart_sudoku659@email.com"),  
        ("username3","jkl012","Joe","Henderson","jimmycrackKORN@email.com"),# duplicate email.(MUST FAIL)
        ("username4","def456","Joe","Henderson","email@email.com"),
        ("username1","mno345","Jim","Beam","patRobertson#$%@email.com")] # duplicate username (MUST FAIL)

# Insert the test data using a try-catch statement and an activated cursor.
print("...Duplicate username/email test...")
print()
for item in data:
    try:
        res = cur.execute(INSERT_UserAccount, (item[0],item[1],item[2],item[3],item[4]))  # sql script and input.
        res.fetchall()
        con.commit()
        print("Pass:", item[0])
    except:
        print("Fail:", item[0])
print()
print("[Inserts 1-3 should pass; 4 and 5 should fail.]")

...Duplicate username/email test...

Pass: username1
Pass: username2
Pass: username3
Fail: username4
Fail: username1

[Inserts 1-3 should pass; 4 and 5 should fail.]

In [1]:
# = = = = = = = = = = PRESERVED TO CHECK ERROR CONDITIONS = = = = = = = = = = = = = = 
# INSERT_UserAccount = """
#                      INSERT INTO User_Account (Username,Password,First_Name,Last_Name,Email) 
#                      VALUES (?,?,?,?,?);
#                      """
# cur = con.cursor()
# res = cur.execute(INSERT_UserAccount, data[0])
# = = = = = = = = = = PRESERVED TO CHECK ERROR CONDITIONS = = = = = = = = = = = = = =

### Verify User_Account Select (Login Page)
The test below develops and tests an sql string designed to verify a user by their login credentials, returning some personal information about the user as verification test.

In [99]:
VERIFY_UserAccount = """
                     SELECT 
                         First_Name, 
                         Last_Name, 
                         Email
                     FROM 
                         User_Account
                     WHERE
                         Username = ? AND Password = ?
                     """
uname_passwd = ("username2", "ghi789")
try:
    cur = con.cursor()
    cur.execute(VERIFY_UserAccount, uname_passwd)
    con.commit()
    for row in cur:
        print("Credentials belong to", "'" + row[0], row[1] + "'") 
        print(row[0]+"'s", "email:", "'"+row[2]+"'")
except:
    print("User Not Found")

Credentials belong to 'Luke Vivelle'
Luke's email: 'i_heart_sudoku659@email.com'

In [62]:
CREATE_UserAchievements = """
                     CREATE TABLE IF NOT EXISTS User_Achievements(
                         Username VARCHAR(32),
                         Inquisitor BOOLEAN,
                         LoneWolf BOOLEAN,
                         PuzzleMaster BOOLEAN,
                         RiskTaker BOOLEAN,
                         SpeedRunner BOOLEAN,
                         Conqueror BOOLEAN,
                         PRIMARY KEY(Username), 
                         FOREIGN KEY(Username) REFERENCES User_Account(Username)) 
                     """
try:
    cur = con.cursor()
    res = cur.execute(CREATE_UserAchievements)
    res.fetchone()
    con.commit()
    print("User_Achievements table successfully created.")
except:
    print("Unable to create User_Achievements table")

User_Achievements table successfully created.

## Drop the User_Account Table

In [ ]:
drop_table = """DROP TABLE IF EXISTS User_Account"""

try:
    res = cur.execute(create_UserAccount)
    res.fetchone()
    print("User_Account Table Dropped")
except:
    print("Not working")

## Close the Database Connection

In [106]:
con.close()