# Hooli-Strike Team Database Controller
<figure width=100%>
</figure>
    
## CSPB 3308; Team One
<hr>

## OWNERS: name, email, github username

Name: ```Micah Simmerman```

Email:   ```jasi9001@colorado.edu```

Name: ```Paul Schneider```

Email:   ```Paul.Schneider-1@colorado.edu```

Write your table definitions here. **Format your definitions so they are readable.**

### Establish the Database Connection

In [46]:
import sqlite3
db_name = "trigger_test_db"
# con = sqlite3.connect("trigger_test_db")
# cur = con.cursor()

# = = = = = = = = Start Destructive Queries = = = = = = = = =

### Drop The Tables

In [163]:
try:
    con = sqlite3.connect(db_name) 
    with sqlite3.connect(db_name) as con:
        c = conn.cursor() 
        #Create User_Account Table
        con.execute("PRAGMA foreign_keys = ON;")
        con.execute("DROP TABLE IF EXISTS User_Account;")
        con.execute("DROP TABLE IF EXISTS User_Achievements;")
        con.execute("DROP TABLE IF EXISTS Achievement_Stats;")
        con.execute("DROP TABLE IF EXISTS Puzzle_Master;")
        con.execute("DROP TABLE IF EXISTS Games_In_Progress;")
        con.execute("DROP TABLE IF EXISTS Game_Settings;")
        con.commit()
    print("All Tables Dropped")
except:
    print("Not working")

# SAVE FOR TROUBLE SHOOTING
# res = cur.execute(DROP_User_Account)
# res.fetchone()
# con.close()

All Tables Dropped

In [192]:
con = sqlite3.connect(db_name) 
with sqlite3.connect(db_name) as con:
    c = conn.cursor() 
    con.executescript("""
                    PRAGMA foreign_keys = ON;
                    DROP TABLE IF EXISTS User_Account;
                    DROP TABLE IF EXISTS User_Achievements;
                    DROP TABLE IF EXISTS Achievement_Stats;
                    DROP TABLE IF EXISTS Puzzle_Master;
                    DROP TABLE IF EXISTS Games_In_Progress;
                    DROP TABLE IF EXISTS Game_Settings;
                    """)

## Truncate User_Account Table

In [228]:

con = sqlite3.connect(db_name) 
with sqlite3.connect(db_name) as con:
    c = conn.cursor() 
    con.execute("PRAGMA foreign_keys = ON;")
    con.execute("DELETE FROM User_Account")
    for result in con.execute("SELECT * FROM User_Account;"):
        print("Test:", result)
con.close()

# = = = = = = = = End Destructive Queries = = = = = = = = =

### Create User_Account Table

In [220]:
try:
    con = sqlite3.connect(db_name) 
    c = con.cursor() 
    
    c.execute("PRAGMA foreign_keys = ON;")
    
    #Create User_Account Table
    c.execute("""
            CREATE TABLE IF NOT EXISTS User_Account(
                Username VARCHAR(32),
                Password VARCHAR(16),
                First_Name VARCHAR(50),
                Last_Name VARCHAR(50),
                Email VARCHAR(320) UNIQUE, 
                PRIMARY KEY(Username))""")




    #Create User_Achievements Table
    c.execute("""

            CREATE TABLE IF NOT EXISTS User_Achievements(
                Username VARCHAR(32),
                Inquisitor BOOLEAN,
                LoneWolf BOOLEAN,
                PuzzleMaster BOOLEAN,
                RiskTaker BOOLEAN,
                SpeedRunner BOOLEAN,
                Conqueror BOOLEAN,
                PRIMARY KEY(Username), 
                CONSTRAINT fk_user_achievements 
                    FOREIGN KEY(Username) REFERENCES User_Account(Username)
                    ON DELETE CASCADE)
            """)


    #Create Puzzle_Master Table
    c.execute("""

            CREATE TABLE IF NOT EXISTS Puzzle_Master(
                Username VARCHAR(32),
                Game1_Easy BOOLEAN,
                Game2_Easy BOOLEAN,
                Game3_Easy BOOLEAN,
                Game4_Easy BOOLEAN,
                Game1_Med BOOLEAN, 
                Game2_Med BOOLEAN,
                Game3_Med BOOLEAN,
                Game4_Med BOOLEAN,
                Game1_Hard BOOLEAN,
                Game2_Hard BOOLEAN,
                Game3_Hard BOOLEAN,
                Game4_Hard BOOLEAN,
                PRIMARY KEY(Username), 
                CONSTRAINT fk_puzzle_master
                    FOREIGN KEY(Username) REFERENCES User_Account(Username)
                    ON DELETE CASCADE)
            """)

    #Create Achievement_Stats Table 
    c.execute("""

            CREATE TABLE IF NOT EXISTS Achievement_Stats(
                Username VARCHAR(32),
                EasyGamesCompleted INT,
                MedGamesCompleted INT,
                HardGamesCompleted INT,
                Best_Time_Easy FLOAT,
                Best_Time_Med FLOAT,
                Best_Time_Hard FLOAT,
                PRIMARY KEY(Username),
                CONSTRAINT fk_achievement_stats
                    FOREIGN KEY(Username) REFERENCES User_Account(Username)
                    ON DELETE CASCADE)
            """)

    #Create Games_In_Progress Table
    c.execute("""

            CREATE TABLE IF NOT EXISTS Games_In_Progress(
                Username VARCHAR(32),
                Game_ID INT,
                Current_Time INT,
                Game VARCHAR(100),
                Difficulty VARCHAR(6),
                Mistakes_Checked INT,
                Notes_Checked INT,
                PRIMARY KEY(Username), 
                CONSTRAINT fk_games_in_progress
                    FOREIGN KEY(Username) REFERENCES User_Account(Username)
                    ON DELETE CASCADE)
            """)

    #Create Game_Settings Table 
    c.execute("""

            CREATE TABLE IF NOT EXISTS Game_Settings(
                Username INT,
                Show_Clock BOOLEAN,
                Show_Mistakes_Counter BOOLEAN,
                PRIMARY KEY(Username), 
                CONSTRAINT fk_game_settings
                    FOREIGN KEY(Username) REFERENCES User_Account(Username)
                    ON DELETE CASCADE)
            """)


    con.commit()
    con.close()
    print("Tables created successfully")
except:
    print("Unable to create Tables")

Tables created successfully

In [221]:
try: 
    con = sqlite3.connect(db_name) 
    c = con.cursor() 
    
    c.executescript("""
        PRAGMA foreign_keys = ON;
        DROP TRIGGER IF EXISTS Create_User_Data;
        CREATE TRIGGER Create_User_Data
        AFTER INSERT ON User_Account
        BEGIN
            INSERT INTO User_Achievements VALUES (NEW.Username, 0, 0, 0, 0, 0, 0);
            INSERT INTO Puzzle_Master VALUES(NEW.Username, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
            INSERT INTO Achievement_Stats VALUES (NEW.Username, 0, 0, 0, 0, 0, 0);
            INSERT INTO Games_In_Progress VALUES (NEW.Username, 1, 0, 0, 0, 0, 0);
            INSERT INTO Game_Settings VALUES (NEW.Username, 1, 0);
        END;
            """)
    con.commit()
    con.close()
    print("Trigger Created Successfully")
except:
    print("Unable to Create Create_User_Data Trigger")

Trigger Created Successfully

### Select All Values

In [222]:
con = sqlite3.connect(db_name)
with con:
        for result in con.execute("SELECT * FROM User_Account;"):
            print("User_Account:", result)
        for result in con.execute("SELECT * FROM User_Achievements;"):
            print("User_Achievements:", result)            
        for result in con.execute("SELECT * FROM Puzzle_Master;"):
            print("Puzzle_Master:", result)
        for result in con.execute("SELECT * FROM Achievement_Stats;"):
            print("Achievement_Stats:", result)        
        for result in con.execute("SELECT * FROM Games_In_Progress;"):
            print("Games_In_Progress:", result)
        for result in con.execute("SELECT * FROM Game_Settings;"):
            print("Game_Settings:", result)
con.close()

## Insert test data into User_Account
The test in the cell below verifies that other tables are populated whena user is inserted into the User_Account table.

In [225]:
# CREATE_UserAccount is an sql string formatted to allow substitution. Note the '?'s in the string below.
INSERT_UserAccount = """
                     INSERT INTO User_Account (Username,Password,First_Name,Last_Name,Email) 
                     VALUES (?,?,?,?,?);
                     """
data = [("username1","abc123","Mike","Roberts","email@email.com"), 
        ("username2","ghi789","Luke","Vivelle","i_heart_sudoku659@email.com")]

        # ("username2","ghi789","Luke","Vivelle","i_heart_sudoku659@email.com"),  
        # ("username3","jkl012","Joe","Henderson","jimmycrackKORN@email.com"),
        # ("username4","def456","Joe","Henderson","email@email.com"), # duplicate email.(MUST FAIL)
        # ("username1","mno345","Jim","Beam","patRobertson#$%@email.com")] # duplicate username (MUST FAIL)

# Insert the test data using a try-catch statement and an activated cursor.
print("Trigger ON INSERT Test")
print()
for item in data:
    try:
        con = sqlite3.connect(db_name)
        c = con.cursor() 
        c.execute("PRAGMA foreign_keys = ON;")
        res = c.execute(INSERT_UserAccount, (item[0],item[1],item[2],item[3],item[4]))  # sql script and input.
        res.fetchall()
        con.commit()

        print("User Added:", item[0])
        
        # Test other tables
        res = c.execute('SELECT COUNT(*) FROM User_Achievements')
        print(res.fetchall()[0][0], "entries in User_Achievements")
        res = c.execute('SELECT COUNT(*) FROM Puzzle_Master')
        print(res.fetchall()[0][0], "entries in Puzzle_Master")
        res = c.execute('SELECT COUNT(*) FROM Achievement_Stats')
        print(res.fetchall()[0][0], "entries in Achievement_Stats")
        res = c.execute('SELECT COUNT(*) FROM Games_In_Progress')
        print(res.fetchall()[0][0], "entries in Games_In_Progress")
        res = c.execute('SELECT COUNT(*) FROM Game_Settings')
        print(res.fetchall()[0][0], "entries in Game_Settings")
        con.close()
    except:
        print("Failed Insert:", item[0])
    # try:
    #     res = c.execute('SELECT * FROM User_Achievements')
    #     print(res.fetchall())
    # except:
    #     print('select failed')
        
print()
print("[There should be 1 additional item in all tables after each insert]")

Trigger ON INSERT Test

User Added: username1
1 entries in User_Achievements
1 entries in Puzzle_Master
1 entries in Achievement_Stats
1 entries in Games_In_Progress
1 entries in Game_Settings
User Added: username2
2 entries in User_Achievements
2 entries in Puzzle_Master
2 entries in Achievement_Stats
2 entries in Games_In_Progress
2 entries in Game_Settings

[There should be 1 additional item in all tables after each insert]

## Delete Data from All Tables
The test in the cell below verifies that other tables are populated whena user is inserted into the User_Account table.

In [226]:
# CREATE_UserAccount is an sql string formatted to allow substitution. Note the '?'s in the string below.
DELETE_UserAccount = """
                     DELETE FROM User_Account
                     """

# Insert the test data using a try-catch statement and an activated cursor.
print("CASCADE ON DELETE Test")
print()
try:
    con = sqlite3.connect(db_name)
    c = con.cursor() 
    c.execute("PRAGMA foreign_keys = ON;")
    res = c.execute(DELETE_UserAccount)  # sql script and input.
    res.fetchall()
    con.commit()

    print("Users Deleted:", item[0])

    # Test other tables
    res = c.execute('SELECT COUNT(*) FROM User_Achievements')
    print(res.fetchall()[0][0], "entries in User_Achievements")
    res = c.execute('SELECT COUNT(*) FROM Puzzle_Master')
    print(res.fetchall()[0][0], "entries in Puzzle_Master")
    res = c.execute('SELECT COUNT(*) FROM Achievement_Stats')
    print(res.fetchall()[0][0], "entries in Achievement_Stats")
    res = c.execute('SELECT COUNT(*) FROM Games_In_Progress')
    print(res.fetchall()[0][0], "entries in Games_In_Progress")
    res = c.execute('SELECT COUNT(*) FROM Game_Settings')
    print(res.fetchall()[0][0], "entries in Game_Settings")
    con.close()
except:
    print("Failed Insert:", item[0])
# try:
#     res = c.execute('SELECT * FROM User_Achievements')
#     print(res.fetchall())
# except:
#     print('select failed')
        
print()
print("[There should be no items in any tables after deletion of Users in User_Account]")

CASCADE ON DELETE Test

Users Deleted: username2
0 entries in User_Achievements
0 entries in Puzzle_Master
0 entries in Achievement_Stats
0 entries in Games_In_Progress
0 entries in Game_Settings

[There should be no items in any tables after deletion of Users in User_Account]

## Drop the User_Account Table

In [227]:
con.close()